.label.on-screen {
  -fx-text-fill: white;
  -fx-font-size: 18px;
}

.label.on-screen-shadow {
  -fx-text-fill: white;
  -fx-font-size: 18px;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.label.on-screen-box {
  -fx-background-color: rgb(64,64,64);
  -fx-background-radius: 15;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
  -fx-text-fill: white;
  -fx-label-padding: 5 10 5 10;
  -fx-alignment: center;
}

.toggle-button.on-screen {
  -fx-background-color:
    linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%)
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
    linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
  -fx-background-insets: 0,1,4,5,6;
  -fx-background-radius: 15,14,11,10,9;
  -fx-text-fill: white;
  -fx-font-size: 14px;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.toggle-button.on-screen Text {
  -fx-effect: dropshadow(one-pass-box, black, 0, 0.0, 0, -1);
}

.toggle-button.on-screen:hover {
  -fx-background-color:
    linear-gradient(#787878 0%, #333733 25%, #474847 75%, #858585 100%)
    linear-gradient(#121b12, #4a4a4a),
    linear-gradient(#adaead 0%, #7b7a7b 20%, #444544 80%, #343434 100%),
    linear-gradient(#9a9a9a 0%, #7b7a7b 20%, #444544 80%, #363636 100%),
    linear-gradient(#878787 0%, #707070 50%, #606260 51%, #3a3b3a 100%);
}

.toggle-button.on-screen:pressed {
  -fx-background-color:
    linear-gradient(#888888 0%, #434743 25%, #575857 75%, #959595 100%)
    linear-gradient(#222b22, #5a5a5a),
    linear-gradient(#bdbebd 0%, #8b8a8b 20%, #545554 80%, #444444 100%),
    linear-gradient(#aaaaaa 0%, #8b8a8b 20%, #545554 80%, #464646 100%),
    linear-gradient(#979797 0%, #808080 50%, #707270 51%, #4a4b4a 100%);
}

.toggle-button.on-screen:selected {
  -fx-background-color:
    linear-gradient(#346868 0%, #112723 25%, #143837 75%, #437575 100%)
    linear-gradient(#010b02, #153a3a),
    linear-gradient(#569e9d 0%, #356a6b 20%, #123534 80%, #122424 100%),
    linear-gradient(#458a8a 0%, #356a6b 20%, #123534 80%, #132626 100%),
    linear-gradient(#447777 0%, #306060 50%, #255250 51%, #152b2a 100%);
}

/*

.toggle-button.on-screen {
  -fx-background-color: rgb(64,64,64);
  -fx-background-radius: 15;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
  -fx-text-fill: white;
}

.toggle-button.on-screen:hover {
  -fx-background-color: rgb(90,90,90);
}

.toggle-button.on-screen:pressed {
  -fx-background-color: rgb(120,120,120);
}

.toggle-button.on-screen:selected {
  -fx-background-color: rgb(50,130,130);
}

*/

.button.on-screen {
  -fx-background-color:
    linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%)
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
    linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
  -fx-background-insets: 0,1,4,5,6;
  -fx-background-radius: 15,14,11,10,9;
  -fx-text-fill: white;
  -fx-font-size: 14px;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.button.on-screen Text {
  -fx-effect: dropshadow(one-pass-box, black, 0, 0.0, 0, -1);
}

.button.on-screen:hover {
  -fx-background-color:
    linear-gradient(#787878 0%, #333733 25%, #474847 75%, #858585 100%)
    linear-gradient(#121b12, #4a4a4a),
    linear-gradient(#adaead 0%, #7b7a7b 20%, #444544 80%, #343434 100%),
    linear-gradient(#9a9a9a 0%, #7b7a7b 20%, #444544 80%, #363636 100%),
    linear-gradient(#878787 0%, #707070 50%, #606260 51%, #3a3b3a 100%);
}

.button.on-screen:pressed {
  -fx-background-color:
    linear-gradient(#888888 0%, #434743 25%, #575857 75%, #959595 100%)
    linear-gradient(#222b22, #5a5a5a),
    linear-gradient(#bdbebd 0%, #8b8a8b 20%, #545554 80%, #444444 100%),
    linear-gradient(#aaaaaa 0%, #8b8a8b 20%, #545554 80%, #464646 100%),
    linear-gradient(#979797 0%, #808080 50%, #707270 51%, #4a4b4a 100%);
}


/*

.button.on-screen {
  -fx-background-color: rgb(64,64,64);
  -fx-background-radius: 15;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
  -fx-text-fill: white;
}

.button.on-screen:hover {
  -fx-background-color: rgb(90,90,90);
}

.button.on-screen:pressed {
  -fx-background-color: rgb(120,120,120);
}

*/

.button.on-screen-help {
  -fx-background-color: transparent;
  -fx-graphic: url('question.png');
  -fx-padding: 25;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.button.on-screen-help:hover {
  -fx-effect: innershadow(three-pass-box, rgba(255,255,255,0.4), 32, 0.0, 0, 0);
}

.button.on-screen-help:pressed {
  -fx-effect: innershadow(three-pass-box, rgba(255,255,255,0.6), 32, 0.0, 0, 0);
}

.vbox-on-screen {
  -fx-spacing: 15;
  -fx-padding: 18;
  -fx-background-color: rgb(32,32,32,0.5);
  -fx-background-radius: 15;
}

.hbox-on-screen {
  -fx-spacing: 15;
  -fx-padding: 18;
/*
  -fx-background-color: rgb(32,32,32,0.5);
  -fx-background-radius: 15;
*/
}
